@charset "UTF-8";
* {
	box-sizing: border-box;
}

.container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
}

.col-25 {
	float: left;
	width: 25%;
	margin-top: 6px
}

.col-75 {
	float: left;
	width: 75%;
	margin-top: 6px
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

input[type=text], textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: vertical;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}

.button {
	border: none;
	color: white;
	padding: 8px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 12px;
	margin: 4px 2px;
	cursor: pointer;
	float: right;
}

#delete, #cancel {
	background-color: #F44336;
}

#delete, #cancel :hover {
	background-color: #da190b;
}

#update, #updateButton {
	background-color: #4CAF50;
}

#update, #updateButton :hover {
	background-color: #46a049;
}

#list {
	background-color: #2196F3;
}

#list:hover {
	background-color: #0b7dda;
}

@media screen and (max-width: 600px) {
	.col-25, .col-75 {
		width: 100%;
		margin-top: 0;
	}
}